@using ClothesShopDotnetCore.Utilities
<div class="sidebar" data-color="purple" data-image="/images/sidebar-1.jpg">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
            Creative Tim
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="@Html.IsActive("Index","Dashboard")">
                <a href="@Url.Action("Index","Dashboard")">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="@Html.IsActive("Index","Customers")">
                <a href="@Url.Action("Index","Customers")">
                    <i class="material-icons">person</i>
                    <p>Customer</p>
                </a>
            </li>
            <li class="@Html.IsActive("Index","Products")">
                <a href="@Url.Action("Index","Products")">
                    <i class="material-icons">shop</i>
                    <p>Product</p>
                </a>
            </li>
            <li class="@Html.IsActive("Index","Employees")">
                <a href="@Url.Action("Index","Employees")">
                    <i class="material-icons">assignment ind</i>
                    <p>Employee</p>
                </a>
            </li>
            <li class="@Html.IsActive("Index","Categories")">
                <a href="@Url.Action("Index","Categories")">
                    <i class="material-icons">opacity</i>
                    <p>Category</p>
                </a>
            </li>
            <li class="@Html.IsActive("Index","Orders")">
                <a href="@Url.Action("Index","Orders")">
                    <i class="material-icons">opacity</i>
                    <p>Order</p>
                </a>
            </li>
        </ul>
    </div>
</div>